*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#WishList{
    background-color: #000080;
}
.w-grid{
    margin: 0 auto;
    border: 2px solid white;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items:center ;
}
.w-container{
    min-height: 100%;
    border: 2px solid gray;
}

.w-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    height: 100%;
}
.w-title, .w-description, .w-author{
    margin: 1rem;
}


.w-img{
    height: 100%;
    width: 100%;
}